.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

.header ul {
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    gap: 15px;
}

.header ul li {
    padding: 10px 10px;
    position: relative;
    text-align: center;
}

.availability {
    font-size: 15px;
    font-weight: 700;
    padding: 15px 30px;
    transition: background-color 0.5s;
    border-radius: 5px;
}

.availability:hover {
    background-color: #88cf0c;
}

@media (min-width:1000px){
    .header ul li::after {
        margin-top: 2px;
        content: "";
        display: block;
        width: 0%;
        height: 3px;
        background-color: var(--dark-40);
        position: absolute;
        transition: width 0.5s;
    }

    .header ul li:hover::after {
        width: 85%;
    }
    
}

@media (max-width:1000px){
    .header {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 0px;
    }

    .header ul {
        gap: 10px;
    }

    .header ul li {
        background-color: var(--dark-20);
        border-radius: 5px;
    }
}

@media (max-width:500px){
    .header {
        gap: 25px;
    }

    .header ul {
        text-align: center;
        gap: 10px;
        font-size: 12px;
    }

    .header ul li {
        padding: 8px 8px;
    }

    .availability {
        border-radius: 5px;
        font-size: 13px;
    }
}